<div class="container">
<p id="notice" class="text-center my-2 text-danger py-2 font-weight-bold"><%= notice %></p>

<div class="container bg-light w-75 text-center py-2 px-3">

<h3 class="text-left">
  <%= @post.title %>
</h3>

<hr>

<p class="text-left">
  <%= @post.body %>
</p>

<hr>
<%= link_to 'Edit', edit_post_path(@post),class:"bg-secondary text-white px-3 py-1 radius " %> |
<%= link_to 'Back', posts_path, class:"bg-secondary text-white px-3 py-1 radius" %>

</div>
</div>
